<form id="contact-us" class="contact" method="POST" action="{{ site.baseurl }}/contact.php" accept-charset="UTF-8"> 
    <div class="form-group"><input class="form-control" placeholder="name" name="name" type="text"/></div>
    <div class="form-group"><input class="form-control" placeholder="email" name="email" type="email"/></div>
    <div class="form-group"><textarea class="form-control" placeholder="message" name="message"></textarea></div>
    <div class="form-group"><div class="g-recaptcha" data-sitekey="6Lc1yE0UAAAAAG-I6n2Jt2v-uF7rtEbFaWaOVnvz"></div></div>
<input type="submit" class="btn btn-primary"/>
</form>
<div class="form-message success-message">Thank you!</div>
<div class="form-message error-message">Sorry, could send your request.</div>
