<form id="contact-us" class="contact" method="POST" action="{{ site.baseurl }}/contact.php" accept-charset="UTF-8"> 
    <div class="form-group"><input class="form-control" placeholder="Vardas" name="name" type="text"/></div>
    <div class="form-group"><input class="form-control" placeholder="el. paštas" name="email" type="email"/></div>
    <div class="form-group"><textarea class="form-control" placeholder="Žinutė" name="message"></textarea></div>
    <div class="form-group"><div class="g-recaptcha" data-sitekey="6Lc1yE0UAAAAAG-I6n2Jt2v-uF7rtEbFaWaOVnvz"></div></div>
<input type="submit" value="Pateikti"  class="btn btn-primary"/>
</form>
<div class="form-message success-message">Ačiū!</div>
<div class="form-message error-message">Atsiprašome, įvyko klaida siunčiant Jūsų užklausą.</div>