{% assign posts = site.posts | where:'lang', page.lang %}

<div class="posts">
  {% for post in posts %}
    <article class="post">

      <h1><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h1>

      <div class="entry">
        {{ post.excerpt }}
      </div>

      <a href="{{ site.baseurl }}{{ post.url }}" class="read-more">{{ page.more_text }}</a>
    </article>
  {% endfor %}
</div>
