<!DOCTYPE html>
<html>

<head>
  <title>{% if page.title %}{{ page.title }} – {% endif %}{{ site.name }} – {{ site.description[page.lang] }}</title>

  {% include meta.html %}

  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
    crossorigin="anonymous">

  <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/style.css?{{ site.version }}" />
  <link rel="alternate" type="application/rss+xml" title="{{ site.name }} - {{ site.description[page.lang] }}" href="{{ site.baseurl }}/feed.xml"
  />

  <!-- Google Tag Manager -->
  <script>(function (w, d, s, l, i) {
    w[l] = w[l] || []; w[l].push({
      'gtm.start':
        new Date().getTime(), event: 'gtm.js'
    }); var f = d.getElementsByTagName(s)[0],
      j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
        'https://www.googletagman   ager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
    })(window, document, 'script', 'dataLayer', 'GTM-PWD3F9W');</script>
  <!-- End Google Tag Manager -->
  <script>
    {% assign pagelist = site.pages | where: 'lang', page.lang | sort: 'position' %}
    NAV_MENU = [
      {% for page in pagelist %}
    {% if page.title != "" %}
    {
      'label': '{{ page.title }}',
      'url': '{{ site.baseurl }}{{ page.url }}',
      'parent': '{{ page.parent }}',
      'ref': '{{ page.ref }}',
    },
    {% endif %}
    {% endfor %}
];
  </script>
  <script src='https://www.google.com/recaptcha/api.js'></script>
</head>

<body>
  <div class="wrapper-masthead">
    <div class="container">
      <header class="masthead clearfix">
        <div class="header-avatars">
          <a href="{{ site.baseurl }}/" class="site-avatar">
            <img src="{{ site.baseurl }}/images/logo_mazas.png" />
          </a>
          <img src="{{ site.baseurl }}/images/moxa-dist.jpg" id="moxa-logo" />
        </div>
        <div class="lang">
          <ul>
            {% assign posts=site.posts | where:"ref", page.ref | sort: 'lang' %} {% for post in posts %}
            <li>
              <a href="{{ post.url }}" class="{{ post.lang }}">{{ post.lang }}</a>
            </li>
            {% endfor %} {% assign pages=site.pages | where:"ref", page.ref | sort: 'lang' %} {% for page in pages %}
            <li>
              <a href="{{ page.url }}" class="{{ page.lang }}">{{ page.lang }}</a>
            </li>
            {% endfor %}
          </ul>
        </div>

        <nav>
          <ul class="nav">
            kaka
            {% assign pagelist = site.pages | where: 'lang', page.lang | where: 'parent', '' | sort: 'position' %} {% for page in pagelist %}
            <li>
              <a href="{{ site.baseurl }}{{ page.url }}">{{ page.title }}</a>
            </li>
            {% endfor %}
          </ul>
        </nav>
      </header>
    </div>
  </div>

  <div id="main" role="main" class="container">
    {{ content }}
  </div>

  <div class="wrapper-footer">
    <div class="container">
      <footer class="footer">
        <span class="copyright">© Copyright 2017 Juka. All Rights Reserved.</span>
        <span class="footer-contacts">
          <a href="tel:+37062913082">+37062913082</a>
          <a href="mailto:info@juka.lt">info@juka.lt</a>
        </span>
        {% include svg-icons.html %}
      </footer>
    </div>
  </div>

  <script type="text/javascript" src="{{ site.baseurl }}/js/bundle.js?v={{ site.js_version }}"></script> {% include analytics.html %} {% if page.lang == 'en' %}
  <!--Start of Tawk.to Script-->
  <script type="text/javascript">
    var Tawk_API = Tawk_API || {}, Tawk_LoadStart = new Date();
    (function () {
      var s1 = document.createElement("script"), s0 = document.getElementsByTagName("script")[0];
      s1.async = true;
      s1.src = 'https://embed.tawk.to/599595821b1bed47ceb05210/1bno5hgje';
      s1.charset = 'UTF-8';
      s1.setAttribute('crossorigin', '*');
      s0.parentNode.insertBefore(s1, s0);
    })();
  </script>
  <!--End of Tawk.to Script-->
  {% else %}
  <!--Start of Tawk.to Script-->
  <script type="text/javascript">
    var Tawk_API = Tawk_API || {}, Tawk_LoadStart = new Date();
    (function () {
      var s1 = document.createElement("script"), s0 = document.getElementsByTagName("script")[0];
      s1.async = true;
      s1.src = 'https://embed.tawk.to/599595821b1bed47ceb05210/default';
      s1.charset = 'UTF-8';
      s1.setAttribute('crossorigin', '*');
      s0.parentNode.insertBefore(s1, s0);
    })();
  </script>
  <!--End of Tawk.to Script-->
  {% endif %}

  <!-- Google Tag Manager (noscript) -->
  <noscript>
    <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-PWD3F9W" height="0" width="0" style="display:none;visibility:hidden"></iframe>
  </noscript>
  <!-- End Google Tag Manager (noscript) -->
</body>

</html>